<div class="collapse bg-dark nav" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div>
                <a href={{ path('about') }} class="text-decoration-none">Cтраница автора</a>
            </div>
            <div>
                <a href="" class="text-decoration-none">Войти в админку</a>
            </div>
            <div>
                <a href={{ path('index') }} class="text-decoration-none">Главная</a>
            </div>
        </div>
    </div>
</div>
